<title>아리랑시네마센터 회원가입</title>
<section class="sub_sec">
  <h2>회원가입</h2>
  <form name="form" class="join2_con w1440" method="post" action="/joininfo" onsubmit="return checkAll()">
    <table>
      <tr>
        <td class="join_tit">
          <h3>회원정보를 입력해주세요.</h3>
        </td>
      </tr>
      <tr>
        <td>
          <div class="id_wrap">
            <label class="">아이디</label>
            <input type="text" name="user_id" id="user_id">
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="pw_wrap">
            <label class="password">비밀번호</label>
            <input type="password" name="user_pw" id="user_pw">
            <label class="passwordCheck">비밀번호 확인</label>
            <input type="password" name="user_pwCheck" id="user_pwCheck">
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="name_wrap">
            <label class="">이름</label>
            <input type="text" name="user_name" id="user_name">
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="birth_wrap">
            <label class="">생년월일</label>
            <input type="text" name="user_birth" id="user_birth" placeholder="숫자만 입력"
              oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" />
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="phone_wrap">
            <label class="">휴대전화</label>
            <div class="phoneInput_wrap">
              <input type="text" name="user_phoneNum" id="user_phoneNum" placeholder="숫자만 입력"
                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" />
              <input class="cert_btn" type="button" value="인증번호받기" onclick="javascript:alert('준비중입니다.')">
            </div>
            <input type="text" name="" id="certiCheck" placeholder="인증번호를 입력하세요.">
          </div>
        </td>
      </tr>
      <tr>
        <td><input class="signUp_btn" type="submit" value="회원가입"></td>
      </tr>
    </table>
  </form>
</section>
<script src="js/join2.js"></script>