<title>아리랑시네마센터 영화홈</title>
<div class="sub_header">
  <div class="inner_subHeader w1440">
    <div class="home_btn"><a href="/"></a></div>
    <ul class="sub_nav">
      <li id="sub_menu">
        <div class="sub_bg"></div>
        <a href="">영화</a>
        <ul class="sub_lnb">
          <li><a href="/movieHome">영화</a></li>
          <li><a href="">예매</a></li>
          <li><a href="">이벤트</a></li>
          <li><a href="">프로그램</a></li>
          <li><a href="/noticeUser">고객센터</a></li>
        </ul>
      </li>
      <li id="sub_menu">
        <div class="sub_bg"></div>
        <a href="">홈</a>
        <ul class="sub_lnb">
          <li><a href="/movieHome">홈</a></li>
          <li><a href="">현재상영작</a></li>
          <li><a href="">상영예정작</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<div class="swiper mySwiperSub">
  <div class="swiper-wrapper">
    <div class="swiper-slide"><img src="img/movieHomeSlide1.jpg" alt=""></div>
    <div class="swiper-slide"><img src="img/movieHomeSlide2.jpg" alt=""></div>
    <div class="swiper-slide"><img src="img/movieHomeSlide3.jpg" alt=""></div>
    <div class="swiper-slide"><img src="img/movieHomeSlide4.jpg" alt=""></div>
    <div class="swiper-slide"><img src="img/movieHomeSlide5.jpg" alt=""></div>
  </div>
  <div class="swiper-button-nextSub"></div>
  <div class="swiper-button-prevSub"></div>
  <div class="swiper-paginationSub"></div>
</div>
<section class="sub_sec">
  <div class="movieR_title w1440">
    <h3>현재 상영작 <span class="f_red">TOP 5</span></h3>
    <div class="more_icon">
      <a href=""></a>
    </div>
  </div>
  <ul class="rank_conSub w1440">
    <li>
      <div class="rank_imgSub r_img1Now">
        <span class="age_infoSub age12">12</span>
      </div>
      <div class="rank_txtSub">
        <h2 class="r_numSub f_red">1</h2>
        <span class="tit_infoSub">블랙 팬서: 와칸다 포에버</span>
        <div class="sub_infoSub">
          <h4 class="rate_infoSub">예매율</h4>
          <p class="rate_perSub f_red bold">29.0%</p>
          <p class="star_infoSub">9.4</p>
          <a href="#" class="heartSub"></a>
        </div>
      </div>
    </li>
    <li>
      <div class="rank_imgSub r_img2Now">
        <span class="age_infoSub age12">12</span>
      </div>
      <div class="rank_txtSub">
        <h2 class="r_numSub f_gray">2</h2>
        <span class="tit_infoSub">데시벨</span>
        <div class="sub_infoSub">
          <h4 class="rate_infoSub">예매율</h4>
          <p class="rate_perSub">7.0%</p>
          <p class="star_infoSub">9.0</p>
          <a href="#" class="heartSub"></a>
        </div>
      </div>
    </li>
    <li>
      <div class="rank_imgSub r_img3Now">
        <span class="age_infoSub age12">12</span>
      </div>
      <div class="rank_txtSub">
        <h2 class="r_numSub f_gray">3</h2>
        <span class="tit_infoSub">동감</span>
        <div class="sub_infoSub">
          <h4 class="rate_infoSub">예매율</h4>
          <p class="rate_perSub">18.3%</p>
          <p class="star_infoSub">9.0</p>
          <a href="#" class="heartSub"></a>
        </div>
      </div>
    </li>
    <li>
      <div class="rank_imgSub r_img4Now">
        <span class="age_infoSub age12">12</span>
      </div>
      <div class="rank_txtSub">
        <h2 class="r_numSub f_gray">4</h2>
        <span class="tit_infoSub">폴: 600미터</span>
        <div class="sub_infoSub">
          <h4 class="rate_infoSub">예매율</h4>
          <p class="rate_perSub">3.9%</p>
          <p class="star_infoSub">9.2</p>
          <a href="#" class="heartSub"></a>
        </div>
      </div>
    </li>
    <li>
      <div class="rank_imgSub r_img5Now">
        <span class="age_infoSub age12">12</span>
      </div>
      <div class="rank_txtSub">
        <h2 class="r_numSub f_gray">5</h2>
        <span class="tit_infoSub">심야카페: 미씽 허니</span>
        <div class="sub_infoSub">
          <h4 class="rate_infoSub">예매율</h4>
          <p class="rate_perSub">2.4%</p>
          <p class="star_infoSub">6.0</p>
          <a href="#" class="heartSub"></a>
        </div>
      </div>
    </li>
  </ul>
  <div class="movieR_title w1440">
    <h3>상영 예정작 <span class="f_red">TOP 5</span></h3>
    <div class="more_icon">
      <a href=""></a>
    </div>
  </div>
  <ul class="rank_conSub w1440">
    <li>
      <div class="rank_imgSub r_img1Exp">
        <span class="age_infoSub age15">15</span>
      </div>
      <div class="rank_txtSub">
        <h2 class="r_numSub f_red">1</h2>
        <span class="tit_infoSub">올빼미</span>
        <div class="sub_infoSub">
          <h4 class="rate_infoSub">예매율</h4>
          <p class="rate_perSub f_red bold">9.9%</p>
          <p class="remain_infoSub f_red">D-6</p>
        </div>
      </div>
    </li>
    <li>
      <div class="rank_imgSub r_img2Exp">
        <span class="age_infoSub ageAll">전체</span>
      </div>
      <div class="rank_txtSub">
        <h2 class="r_numSub f_gray">2</h2>
        <span class="tit_infoSub">스트레인지 월드</span>
        <div class="sub_infoSub">
          <h4 class="rate_infoSub">예매율</h4>
          <p class="rate_perSub">2.0%</p>
          <p class="remain_infoSub f_red">D-6</p>
        </div>
      </div>
    </li>
    <li>
      <div class="rank_imgSub r_img3Exp">
        <span class="age_infoSub age15">15</span>
      </div>
      <div class="rank_txtSub">
        <h2 class="r_numSub f_gray">3</h2>
        <span class="tit_infoSub">놈이 우리 안에 있다</span>
        <div class="sub_infoSub">
          <h4 class="rate_infoSub">예매율</h4>
          <p class="rate_perSub">0.0%</p>
          <p class="remain_infoSub f_red">D-6</p>
        </div>
      </div>
    </li>
    <li>
      <div class="rank_imgSub r_img4Exp">
        <span class="age_infoSub age12">12</span>
      </div>
      <div class="rank_txtSub">
        <h2 class="r_numSub f_gray">4</h2>
        <span class="tit_infoSub">존 덴버 죽이기</span>
        <div class="sub_infoSub">
          <h4 class="rate_infoSub">예매율</h4>
          <p class="rate_perSub">0.0%</p>
          <p class="remain_infoSub f_red">D-6</p>
        </div>
      </div>
    </li>
    <li>
      <div class="rank_imgSub r_img5Exp">
        <span class="age_infoSub age12">12</span>
      </div>
      <div class="rank_txtSub">
        <h2 class="r_numSub f_gray">5</h2>
        <span class="tit_infoSub">아마겟돈 타임</span>
        <div class="sub_infoSub">
          <h4 class="rate_infoSub">예매율</h4>
          <p class="rate_perSub">0.0%</p>
          <p class="remain_infoSub f_red">D-6</p>
        </div>
      </div>
    </li>
  </ul>
  <section class="banner_wrap">
    <div class="banner_p w1440">
      <a href=""><img src="img/adv2.jpg" alt=""></a>
    </div>
  </section>
</section>