<section class="sub_sec">
  <h2>로그인</h2>
  <div class="login_wrap w1440">
    <div class="login_box">
      <div class="login_inner">
        <div class="login_form">
          <h3>회원</h3>
          <form class="login" method="post" action="/logininfo">
            <div class="login_inputWrap">
              <input type="text" name="login_id" placeholder="아이디">
              <input type="password" name="login_pw" placeholder="비밀번호">
            </div>
            <input class="login_btn" type="submit" value="로그인">
          </form>
          <div class="login_bot">
            <input type="checkbox" id="id_check" >
            <label for="id_check">아이디 저장</label>
            <div class="login_menu">
              <a href="/join1">회원가입</a>
              <a href="">아이디 찾기</a>
              <a href="">비밀번호 찾기</a>
            </div>
          </div>
        </div>
        <div class="non_form">
          <h3>비회원</h3>
          <form class="non" action="">
            <div>
              <label for="">이름</label>
              <input type="text">
            </div>
            <div>
              <label for="">휴대폰 번호</label>
              <input type="text">
            </div>
            <div>
              <label for="">예매 비밀번호</label>
              <input type="password">
            </div>
            <input class="non_btn" type="submit" value="비회원 예매 확인">
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="login_Adv w1440"><img src="img/adv1.jpg" alt=""></div>
</section>