<title>아리랑시네마센터 프로그램</title>
<div class="sub_header">
  <div class="inner_subHeader w1440">
    <div class="home_btn"><a href="/"></a></div>
    <ul class="sub_nav">
      <li id="sub_menu">
        <div class="sub_bg"></div>
        <a href="">프로그램</a>
        <ul class="sub_lnb">
          <li><a href="/movieHome">영화</a></li>
          <li><a href="">예매</a></li>
          <li><a href="">이벤트</a></li>
          <li><a href="">프로그램</a></li>
          <li><a href="/noticeUser">고객센터</a></li>
        </ul>
      </li>
      <li id="sub_menu">
        <div class="sub_bg"></div>
        <a href="">SOS</a>
        <ul class="sub_lnb">
          <li><a href="">정기상영</a></li>
          <li><a href="">영화제</a></li>
          <li><a href="">기획전</a></li>
          <li><a href="/SOSUser">SOS</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<section class="sub_sec">
  <h2 class="SOS_tit">
    <p class="f_gray">S</p>AC <p class="f_gray">O</p>N <p class="f_gray">S</p>CREEN
  </h2>
  <div class="boardList_wrap w1440">
    <form id="noticeWrite" method="post" action="/SOSWriteInfo" enctype="multipart/form-data">
      <div class="boardTitle">
        <label for="">제목</label>
        <input type="text" name="sos_tit">
      </div>
      <div class="boardCon">
        <div class="boardTopCon">
          <input type="file" name="sos_img">
          <div class="user_label">
            <label for="">ID</label>
            <input type="text" name="write_user">
            <label for="">PW</label>
            <input type="password" name="user_pw">
          </div>
        </div>
        <div class="boardBottomCon">
          <textarea name="sos_content" id="" cols="30" rows="20"></textarea>
        </div>
      </div>
      <div class="boardBtn">
        <input type="submit" value="등록">
        <input type="submit" value="취소"  onclick="javascript:location.href='/arirangNoticeUser'">
      </div>
    </form>
  </div>
</section>