<footer>
  <div class="f_wrap w1440">
    <!-- Follow Arirang CineCenter -->
    <ul class="t_footer">
      <li>
        <span class="bold">Follow Arirang CineCenter !</span>
        <a href="https://www.facebook.com/arirangcinecenter">
          <div class="fb_btn"></div>
        </a>
      </li>
      <div class="f_img"></div>
      <li>
        <span class="bold"
          >Family Site
          <p>관련사이트</p></span
        >
        <a href="">
          <div class="more_btn"></div>
        </a>
      </li>
    </ul>
    <!-- Service List -->
    <ul class="m_footer">
      <!-- 시설안내 -->
      <li class="service_list">
        <a href="">
          <span class="f_black">시설안내</span>
        </a>
      </li>
      <!-- 회원약관 -->
      <li class="service_list">
        <a href="">
          <span class="f_black">회원약관</span>
        </a>
      </li>
      <!-- 개인정보 처리방침 -->
      <li class="service_list">
        <a href="">
          <span class="f_red">개인정보 처리방침</span>
        </a>
      </li>
      <!-- 이메일무단수집거부 -->
      <li class="service_list">
        <a href="">
          <span class="f_black">이메일무단수집거부</span>
        </a>
      </li>
      <!-- 찾아오시는 길 -->
      <li class="service_list">
        <a href="">
          <span class="f_black">찾아오시는 길</span>
        </a>
      </li>
    </ul>
    <!-- 주소 및 연락처 -->
    <div class="b_footer">
      <span>
        02827 서울시 성북구 아리랑로 82 아리랑시네센터 사업자등록번호
        209-82-11298
        <p class="call_n">02-3291-5541</p>
        <p class="fax_n">02-2178-9210</p>
        <p class="email">arirangcmc@sbculture.or.kr</p>
      </span>
      <span>
        COPYRIGHT @ 2018 재단법인 성북문화재단 아리랑시네센터 ALL RIGHTS
        RESERVED.
      </span>
    </div>
  </div>
</footer>
