<header>
  <div class="header_wrap w1440">
    <!-- 로고 -->
    <h1 class="logo"><a href="/"></a></h1>
    <!-- 메뉴 -->
    <nav id="gnb_wrap">
      <div class="gnb_bg"></div>
      <ul class="gnb">
        <li>
          <a href="/movieHome" id="h_menu" class="f_white">영화</a>
          <ul class="lnb">
            <li><a href="/movieHome">홈</a></li>
            <li><a href="#">현재상영작</a></li>
            <li><a href="#">상영예정작</a></li>
          </ul>
        </li>
        <li>
          <a href="#" id="h_menu" class="f_white">예매</a>
          <ul class="lnb">
            <li><a href="#">예매하기</a></li>
            <li><a href="#">상영시간표</a></li>
            <li><a href="#">할인안내</a></li>
          </ul>
        </li>
        <li>
          <a href="#" id="h_menu" class="f_white">이벤트</a>
          <ul class="lnb">
            <li><a href="#">홈</a></li>
            <li><a href="#">이벤트</a></li>
            <li><a href="#">행사</a></li>
          </ul>
        </li>
        <li>
          <a href="#" id="h_menu" class="f_white">프로그램</a>
          <ul class="lnb">
            <li><a href="#">정기상영</a></li>
            <li><a href="#">영화제</a></li>
            <li><a href="#">기획전</a></li>
            <li><a href="/SOSUser">SOS</a></li>
          </ul>
        </li>
        <li>
          <a href="/noticeUser" id="h_menu" class="f_red">고객센터</a>
          <ul class="lnb">
            <li><a href="/noticeUser">공지사항</a></li>
            <li><a href="#">자주찾는 질문</a></li>
            <li><a href="#">1:1 문의</a></li>
            <li><a href="#">찾아오시는 길</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- 아이콘 -->
    <div class="h_icon">
      <div class="h_icon_top">
        <span><a href="https://www.facebook.com/arirangcinecenter" class="fb"></a></span>
        <span><a href="https://www.instagram.com/arirang_cine/" class="in"></a></span>
        <span><a href="https://twitter.com/ARIRANGCMC" class="tw"></a></span>
        <span><a href="https://www.youtube.com/channel/UCw-PP0JLJMVlVJtZnbqhQww" class="yt"></a></span>
      </div>
      <div class="h_icon_bot">
        <a href="/login" class="login">로그인</a>
        <span><a href="/join1" class="signUp"></a></span>
        <span><a href="#" class="quickTicket"></a></span>
      </div>
    </div>
    <!-- 모바일 네비게이션 -->
    <div class="mobile-top-bar">
      <div class="ico toggle-side-bar-btn" data-ico-now-animating="N">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <!-- 우측 사이드 바 메뉴 -->
    <div class="right-side-bar-box">
      <div class="right-side-bar">
        <div class="s_icon">
          <a href="/login" class="login">로그인</a>
          <span><a href="/join1" class="signUp"></a></span>
        </div>
        <div class="menu-1">
          <ul>
            <li>
              <a href="#">영화</a>
              <ul>
                <li>
                  <a href="/movieHome">홈</a>
                </li>
                <li>
                  <a href="#">현재 상영작</a>
                </li>
                <li>
                  <a href="#">상영 예정작</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">예매</a>
              <ul>
                <li>
                  <a href="#">예매하기</a>
                </li>
                <li>
                  <a href="#">상영시간표</a>
                </li>
                <li>
                  <a href="#">할인안내</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">이벤트</a>
              <ul>
                <li>
                  <a href="#">홈</a>
                </li>
                <li>
                  <a href="#">이벤트</a>
                </li>
                <li>
                  <a href="#">행사</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">프로그램</a>
              <ul>
                <li>
                  <a href="#">정기상영</a>
                </li>
                <li>
                  <a href="#">영화제</a>
                </li>
                <li>
                  <a href="#">기획전</a>
                </li>
                <li>
                  <a href="/SOSUser">SOS</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">고객센터</a>
              <ul>
                <li>
                  <a href="/noticeUser">공지사항</a>
                </li>
                <li>
                  <a href="#">자주 찾는 질문</a>
                </li>
                <li>
                  <a href="#">1:1 문의</a>
                </li>
                <li>
                  <a href="#">찾아 오시는 길</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>