.join1_con {
  width: 610px;
  padding: 100px 50px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #fff;
}

.join1_con > div {
  padding-top: 30px;
}

.join1_con > .join_title {
  padding-top: 0;
}

.join_title > h3 {
  font-size: 24px;
  font-weight: medium;
}

.join_title > h4 {
  font-size: 14px;
  font-weight: medium;
  padding-bottom: 20px;
}

.join1_con label {
  font-size: 14px;
  font-weight: medium;
}

.survice_con {
  padding-top: 50px;
}

input[type="checkbox"] {
  all: unset;
}
input[type="checkbox"] + label {
  cursor: pointer;
  padding-left: 23px;
  background-repeat: no-repeat;
  background-image: url("../img/checkboxBefore.png");
  background-position: left center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
}

input[id="allCheck"]:checked + label {
  background-image: url("../img/checkboxAfter.png");
}

input[id="surviceCheck"]:checked + label {
  background-image: url("../img/checkboxAfter.png");
}

input[id="privacyCheck"]:checked + label {
  background-image: url("../img/checkboxAfter.png");
}

input[id="marketCheck"]:checked + label {
  background-image: url("../img/checkboxAfter.png");
}

input[id="gpsCheck"]:checked + label {
  background-image: url("../img/checkboxAfter.png");
}

textarea {
  width: 100%;
  font-size: 10px;
  font-weight: 600;
  font-family: "Noto Sans KR", sans-serif;
}

.btn_wrap {
  padding-top: 40px;
  text-align: center;
}

.join_btn1 {
  width: 200px;
  height: 46px;
  background-color: #111;
  color: #fff;
  font-size: 20px;
  font-weight: medium;
  cursor: pointer;
  align-items: center;
}

/*** 610px ***/

@media (max-width: 610px) {
  .join1_con {
    width: 100%;
    padding: 20px;
  }
}

/*** 610px ***/
