.login_box {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px 100px 140px 100px;
  box-sizing: border-box;
}

.login_inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.login_inner>div>h3 {
  text-align: center;
  line-height: 50px;
  border-bottom: 1px solid;
}

.login_form {
  flex: 1;
  border-right: 1px solid;
}

.login_inner form {
  padding-top: 20px;
}

form.login {
  width: 100%;
  padding-right: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-shrink: 1;
}

.login_inputWrap {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.login input {
  width: 100%;
  padding: 15px 30px;
  box-sizing: border-box;
  font-size: 14px;
  color: #A6B8C4;
  border-radius: 4px;
  margin-top: 20px;
}

.login input:first-child {
  margin-top: 0;
}

.login>.login_btn {
  width: 120px;
  height: 120px;
  margin-top: 0;
  background-color: #111;
  color: #fff;
  cursor: pointer;
}

.login_bot {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  position: relative;
}


input[id="id_check"]:checked+label {
  background-image: url('../img/checkboxAfter.png');
}

.login_menu {
  display: inline-block;
}

.login_menu>a::after {
  content: '';
  position: absolute;
  left: -11px;
  top: 50%;
  margin-top: -5px;
  width: 1px;
  height: 10px;
  background: #A6B8C4;
}

.login_menu>a:first-child::after {
  display: none;
}

.login_menu>a {
  font-size: 12px;
  color: #000;
  margin-left: 20px;
  position: relative;
}

.login_menu>a:first-child {
  margin-left: 0;
}

.non_form {
  flex: 1;
  position: relative;
}

.non {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

.non label {
  font-size: 14px;
  width: 20%;
  text-align: right;
  margin: auto 0;
  margin-right: 20px;
}

.non input {
  width: 70%;
  padding: 15px 30px;
  box-sizing: border-box;
  font-size: 14px;
  color: #A6B8C4;
  border-radius: 4px;
}

.non>div {
  width: 90%;
  display: flex;
  justify-content: right;
  flex-shrink: 1;
}

.non>div:first-child {
  margin-top: 0;
}

.non>.non_btn {
  width: 120px;
  background-color: #111;
  color: #fff;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.login_Adv {
  padding-bottom: 60px;
}

.login_Adv img {
  display: block;
  width: 100%;
}

/*** 1199px ***/
@media (max-width: 1199px) {
  .login_inner {
    flex-direction: column;
  }

  .login_form {
    flex: 1;
    border-right: 0px;
  }

  form.login {
    padding-right: 0px;
  }


  .login_bot {
    padding-right: 0;
  }

  .non>div {
    width: 100%;
    justify-content: space-between;
  }

  .non label {
    width: 20%;
    text-align: left;
  }

  .non input {
    width: 80%;
  }
}

/*** 1199px ***/



/*** 599px ***/
@media (max-width: 599px) {
  .login_box{
    padding: 60px 20px 70px 20px;
  }
  form.login{
    gap: 10px;
  }
  .login input{
    padding: 10px 15px;
    margin-top: 10px;
    font-size: 10px;
  }

  .login>.login_btn{
    width: 80px;
    height: 80px;
  }

  .login_bot {
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-top: 10px;
  }

  .non{
    gap: 10px;
  }
  .non>div{
    flex-direction: column;
  }
  
  .non input{
    width: 100%;
    padding: 10px 15px;
  }
  
  .non label{
    width: 100%;
    font-size: 12px;
    margin-right: 0;
  }

  .non>.non_btn{
    width: 100px;
    font-size: 10px;
  }
}

/*** 599px ***/