.boardList_wrap {
  /* height: 839px; */
  border-top: 3px solid #4e748b;
  background-color: #fff;
}

.boardList_wrap #noticeWrite {
  width: 100%;
  height: 100%;
  font-size: 30px;
  /* padding: 0 40px; */
  box-sizing: border-box;
}

.boardTitle {
  padding: 18px 40px;
  border-bottom: 1px solid #000;
  /* background-color: #fff; */
  display: flex;
  align-items: center;
  gap: 40px;
}

.boardTitle label {
  position: relative;
  padding-right: 30px;
}

.boardTitle label::after {
  content: "";
  display: block;
  width: 1px;
  height: 50px;
  background-color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.boardTitle input {
  width: 90%;
  height: 80px;
  font-size: 24px;
}

.boardCon {
  background-color: none;
  padding: 18px 40px;
}

.boardTopCon {
  padding-bottom: 18px;
  display: flex;
  /* align-items: center; */
  width: 100%;
}

.boardTopCon input[type="file"] {
  line-height: 45px;
}

.checkboxs {
  display: flex;
}

.checkboxs .writeNotice {
  width: 100%;
  min-width: 120px;
  margin-left: 30px;
  margin-right: 50px;
  box-sizing: border-box;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.checkboxs .writeNotice:nth-child(2) {
  margin-left: 0;
}

.checkboxs .writeNotice:last-child {
  margin-right: 0;
}

.boardTopCon .user_label {
  margin-left: 30px;
  display: flex;
  gap: 20px;
}

input[id="noticeCheck"]:checked + label {
  background-image: url("../img/checkboxAfter.png");
}

input[id="eventCheck"]:checked + label {
  background-image: url("../img/checkboxAfter.png");
}

input[id="festivalCheck"]:checked + label {
  background-image: url("../img/checkboxAfter.png");
}

.boardTopCon input[name="password"] {
  width: 156px;
  height: 46px;
  font-size: 20px;
}
.boardTopCon input[name="id"] {
  width: 156px;
  height: 46px;
  font-size: 20px;
}

.boardTopCon .user_label input {
  width: 50%;
}

.boardBottomCon textarea {
  width: 100%;
  font-size: 20px;
}

.boardBtn {
  padding: 0 36px 100px;
  display: flex;
  justify-content: right;
}

.boardBtn input {
  cursor: pointer;
  width: 120px;
  height: 50px;
  background-color: #fff;
  font-size: 18px;
}

/*** 1440px ***/
@media (max-width: 1440px) {
  .boardList_wrap #noticeWrite {
    font-size: 24px;
  }

  .boardTitle {
    padding: 18px 0;
    gap: 30px;
  }

  .boardTitle label {
    width: 74px;
  }

  .boardCon {
    padding: 18px 0;
  }

  .boardBtn {
    padding: 0 0 80px;
  }
}
/*** 1440px ***/

/*** 1200px ***/
@media (max-width: 1200px) {
  .boardTopCon {
    flex-direction: column;
  }

  .checkboxs {
    margin-bottom: 20px;
  }

  .boardTopCon .user_label:nth-child(2) {
    margin-left: 0px;
  }
}
/*** 1200px ***/

/*** 579px ***/
@media (max-width: 579px) {
  .checkboxs .writeNotice {
    min-width: 60px;
    margin-left: 10px;
    margin-right: 30px;
    font-size: 12px;
  }
}
/*** 579px ***/
