.boardList_wrap{
  /* height: 839px; */
  border-top: 3px solid #4E748B;
  background-color: #fff;
}

.boardList_wrap #noticeWrite{
  width: 100%;
  height: 100%;
  font-size: 30px;
  /* padding: 0 40px; */
  box-sizing: border-box;
}


.boardTitle{
  padding: 18px 40px;
  border-bottom: 1px solid #000;
  /* background-color: #fff; */
  display: flex;
  align-items: center;
  gap: 40px;
}

.boardTitle label{
  position: relative;
  padding-right: 30px;
}

.boardTitle label::after{
  content: '';
  display: block;
  width: 1px;
  height: 50px;
  background-color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.boardTitle input{
  width: 90%;
  height: 80px;
  font-size: 24px;
}

.boardCon{
  background-color: none;
  padding: 18px 40px;
}

.boardTopCon{
  padding-bottom: 18px;
  display: flex;
  align-items: center;
  flex-shrink: 1;
}

.boardTopCon .writeNotice{
  padding-right: 100px;
  display: flex;
  align-items: center;
}

.boardTopCon label{
  padding-left: 30px;
  padding-right: 30px;
}

input[id="noticeCheck"]:checked + label{
  background-image: url('../img/checkboxAfter.png');
}

input[id="eventCheck"]:checked + label{
  background-image: url('../img/checkboxAfter.png');
}

input[id="festivalCheck"]:checked + label{
  background-image: url('../img/checkboxAfter.png');
}

.boardTopCon input[name='password']{
  width: 156px;
  height: 46px;
  font-size: 20px;
}
.boardTopCon input[name='id']{
  width: 156px;
  height: 46px;
  font-size: 20px;
}

.boardBottomCon textarea{
  width: 100%;
  font-size: 20px;
}

.boardBtn{
  padding: 0 36px 100px;
  display: flex;
  justify-content: right;
}

.boardBtn input{
  cursor: pointer;
  width: 120px;
  height: 50px;
  background-color: #fff;
  font-size: 18px;
}

/*** 1440px ***/
@media (max-width: 1440px){
  .boardList_wrap #noticeWrite{
    font-size: 24px;
  }

  .boardTitle{
    padding: 18px 0;
    gap: 30px;
  }

  .boardTitle label{
    width: 74px;
  }

  .boardCon{
    padding: 18px 0;
  }

  .boardBtn{
    padding: 0 0 80px;
  }
}
/*** 1440px ***/

/*** 768px ***/
@media (max-width: 768px){
  .boardTopCon .writeNotice {
    padding-right: 0px;
  }
}
/*** 768px ***/