.sub_sec > .SOS_tit {
  width: auto;
  display: block;
  text-align: center;
}

.num img {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.sos_table td {
  vertical-align: middle;
}
